<app-top-bar></app-top-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5 col-lg-3">
            <app-block-title icon="fa-shopping-basket" title="Merch"></app-block-title>
            <div class="row">
                <div class="col-12 mb-4">
                    <app-carousel></app-carousel>
                </div>
            </div>
            <app-block-title icon="fa-globe-americas" title="World Tour"></app-block-title>
            <div class="row">
                <div class="col-12">
                    <app-schedule></app-schedule>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-9">
            <app-block-title id="News" icon="fa-newspaper" title="News"></app-block-title>
            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <img class="img-fluid mb-3" src="assets/images/news-01.jpg" alt="Spirits in the forest film">
                    <h5>
                        // DEPECHE MODE TO PRESENT NEW DOCUMENTARY "DEPECHE MODE: SPIRITS IN THE FOREST" IN CINEMAS WORLDWIDE ON NOVEMBER 21, 2019
                    </h5>
                    <p>
                        Featuring emotional stories highlighting the universal power of music, interwoven with performances from the band's recordbreaking 2017/2018 global spirit tour, the film will be premiered by trafalgar releasing and sony music entertainment as a worldwide, special, one-night theatrical event on november 21, 2019.
                    </p>
                    <sub>
                        Tickets on sale from September 26, 2019 at www.spiritsintheforest.comLondon, UK, September 19: Depeche Mode
                    </sub>
                    <a class="btn btn-dm btn-lg mt-3 w-100" href="http://www.depechemode.com/article/depeche-mode-to-present-new-documentary-depeche-mode-spirits-in-the-forest-in-cinemas-worldwide-on-november-21,-2019" target="_blank" rel="noopener noreferrer">Read more</a>
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <img class="img-fluid mb-3" src="assets/images/news-02.jpg" alt="Depeche mode box set">
                    <h5>
                        // BLACK CELEBRATION AND MUSIC FOR THE MASSES BOXES COMING THIS MAY
                    </h5>
                    <p>
                        Depeche Mode 12" vinyl singles collector's edition box set series continues with release of Black Celebration | The 12" Singles and Music For The Masses | The 12" Singles on 31 May 2019 Black Celebration | The 12" Singles includes "A Question of Lust" cassette release pressed on 12" Vinyl for first time internationally. Each of these definitive box sets contains 12" vinyl singles contemporaneous to either Black Celebration (1986) or Music For The Masses (1987).
                    </p>
                    <sub>
                        Sony Music Entertainment's Depeche Mode 12" vinyl singles project continues with the release of Black Celebration
                    </sub>
                    <a class="btn btn-dm btn-lg mt-3 w-100" href="http://www.depechemode.com/article/black-celebration-and-music-for-the-masses-boxes-coming-this-may" target="_blank" rel="noopener noreferrer">
                        Read more
                    </a>
                </div>
            </div>
            <app-block-title id="TheBand" icon="fa-users" title="The Band"></app-block-title>
            <div class="row">
                <div class="col-12 mb-4">
                    <p>
                        Depeche Mode are an English electronic music band formed in Basildon, Essex, in 1980. The group as of now consists of a trio of Dave Gahan (lead vocals and co-songwriting), Martin Gore (keyboards, guitar, co-lead vocals and main songwriting), and Andy Fletcher (keyboards).
                    </p>
                    <p>
                        Depeche Mode released their debut album Speak & Spell in 1981, bringing the band onto the British new wave scene. Founding member Vince Clarke left after the release of the album; they recorded A Broken Frame as a trio. Gore took over as main songwriter and, later in 1982, Alan Wilder replaced Clarke, establishing a lineup that continued for 13 years.
                    </p>
                    <p>
                        The band's last albums of the 1980s, Black Celebration and Music for the Masses, established them as a dominant force within the electronic music scene. A highlight of this era was the band's June 1988 concert at the Pasadena Rose Bowl, where they drew a crowd in excess of 60,000 people. In early 1990, they released Violator, an international mainstream success. The following album, Songs of Faith and Devotion in 1993 was also a success, though internal struggles within the band during recording and touring resulted in Wilder's departure in 1995.
                    </p>
                    <p>
                        Depeche Mode has had 54 songs in the UK Singles Chart and 17 top 10 albums in the UK chart; they have sold more than 100 million records worldwide. Q included the band in the list of the "50 Bands That Changed the World!". Depeche Mode also rank number 98 on VH1's "100 Greatest Artists of All Time". In December 2016, Billboard named Depeche Mode the 10th most successful dance club artist of all time.
                    </p>
                </div>
            </div>
            <app-block-title id="BestVideos" icon="fa-video" title="Best Videos"></app-block-title>
            <div class="row">
                <div class="col-12 col-lg-4 mb-4">
                    <app-youtube-video id="BZ_HhwnIOV8"></app-youtube-video>
                </div>
                <div class="col-12 col-lg-4 mb-4">
                    <app-youtube-video id="H8t5M9_Tvzk"></app-youtube-video>
                </div>
                <div class="col-12 col-lg-4 mb-4">
                    <app-youtube-video id="-_3dc6X-Iwo"></app-youtube-video>
                </div>
            </div>
        </div>
    </div>
</div>