.block-title {
    font-size: 1.4rem;
    margin: 0 -15px 20px;
    padding: .8rem 1rem;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        rgba(#E10202,.1) 10px,
        rgba(#E10202,.1) 20px
    );
    .fas {
        margin-right: .6rem;
    }
}